.boton {
    -fx-background-color: #FFA500; /* Color de fondo normal */
    -fx-text-fill: white; /* Color de texto normal */
    -fx-background-radius: 10; /* Radio de los bordes del fondo */
}
.boton:hover {
    -fx-background-color: #FF8000; /* Color de fondo al pasar el mouse */
}
.boton:pressed {
    -fx-background-color: #D2691E; /* Color de fondo al hacer clic */
}
